.about-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  padding-right: 1.5rem;
  margin-right: 1.5rem;
  gap: 1.2rem;
  box-shadow: var(--shadow-2);
}

.slider {
  height: 30rem;
}

.section-about .about-content {
  align-self: center;
}

.slide img {
  width: 80%;
  height: auto;
  border-radius: var(--border-sm);
  object-fit: cover;
}

.slider__btn {
  top: 50%;
}

.dots {
  bottom: 0%;
  left: 50%;
}

.detail-content {
  font-size: 1.8rem;
  display: flex;
  justify-items: center;
}

.detail-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

.ingredient {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 700;
  color: var(--red-700);
  display: flex;
  gap: 1.4rem;
  flex-wrap: wrap;
  align-items: center;
}
.ingredient ion-icon {
  width: 3rem;
  height: 3rem;
}
.ingredient span {
  color: var(--zinc-700);
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s;
  line-height: 1;
}

.ingredient span:hover {
  cursor: pointer;
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  color: var(--red-500);
}

.calories {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 1.8rem;
}

.calories ion-icon {
  width: 3rem;
  height: 3rem;
  color: var(--red-700);
}

.calories span {
  line-height: 1;
  font-weight: 600;
  color: var(--red-700);
}

.detail-info .rating {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 1.8rem;
}

.detail-info .rating ion-icon {
  width: 3rem;
  height: 3rem;
  color: var(--red-700);
}
.detail-info .rating span {
  line-height: 1;
  font-weight: 600;
  color: var(--red-700);
}

.detail-action {
  display: flex;
  font-size: 1.8rem;
  gap: 5.2rem;
  align-items: center;
}

.detail-action .sizes {
  display: flex;
  gap: 1.2rem;
}

.size {
  background-color: var(--red-100);
  font-weight: 800;
  color: var(--red-600);
  padding: 0.1rem 2.4rem;
  transition: all 0.3s;
}

.active-size {
  background-color: var(--red-600);
  color: var(--red-50);
}

.size:hover {
  cursor: pointer;
  background-color: var(--red-600);
  color: var(--red-50);
}

.detail-action .quantity {
  display: flex;
  gap: 1.2rem;
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--zinc-700);
  align-items: center;
}
.quantity-btn {
  font-size: 2rem;
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: var(--border-rounded);
  background-color: var(--red-500);
  color: var(--red-50);
  font-weight: 800;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.quantity-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  background: var(--red-600);
}

.quantity-btn:active {
  transform: scale(0.9);
}
.price {
  margin-top: 1.2rem;
  color: var(--red-600);
  font-size: 2.2rem;
  font-weight: 500;
}

.price span {
  font-weight: 700;
}

.old-price {
  margin-top: 1.2rem;
  color: var(--red-500);
  font-size: 2.2rem;
  font-weight: 500;
  position: relative;
}

.old-price::after {
  content: "";
  position: absolute;
  top: 50%;
  border: 2px solid var(--yellow-400);
  width: 27%;
  left: 0;
}
.old-price span {
  font-weight: 700;
}

.new-price {
  color: var(--red-600);
  font-size: 2.2rem;
  font-weight: 500;
}

.new-price span {
  font-weight: 700;
}

.coupon-field {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
}
.coupon-field .coupon {
  width: 60%;
  padding: 1rem 2.4rem;
  border: none;
  border: 2px solid var(--red-400);
  border-radius: var(--border-max);
  color: var(--red-600);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.coupon-field .coupon:focus {
  outline: none;
  box-shadow: var(--shadow-focus);
}
.coupon-field .coupon::placeholder {
  color: var(--zinc-400);
  letter-spacing: 1px;
  font-weight: normal;
}

.coupon-field ion-icon {
  width: 3rem;
  height: 3rem;
  color: var(--red-600);
  margin-left: -4rem;
}
.detail-btn {
  display: flex;
  justify-content: center;

  margin-top: auto;
}
.detail-btn a {
  display: flex !important;
  gap: 0.8rem;
  align-items: center;
}

.detail-btn ion-icon {
  width: 2.2rem;
  height: 2.2rem;
}
