.pagination {
  text-align: center;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.4rem;
}

.page {
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 3.4rem;
  justify-content: center;
  justify-items: center;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 20rem;
}

.page-number {
  cursor: pointer;
  background-color: var(--zinc-200);
  color: var(--red-600);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.5s;
}

.page-number:hover {
  transform: scale(1.05);
}

.active {
  font-size: 1.8em;
  height: 5rem;
  width: 5rem;
  background-color: var(--red-600);
  color: var(--red-50);
  font-weight: 700;
}

.arrow {
  width: 12rem;
  padding: 0.8rem 1.6rem;
  color: var(--red-600);
  border: none;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  font-size: 1.8rem;
  font-weight: 700;
  transition: all 0.5s;
  background-color: transparent;
}

.arrow:nth-of-type(2):hover {
  transform: translateX(1rem);
}

.arrow:nth-of-type(1):hover {
  transform: translateX(-1rem);
}

.pagination .arrow:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.pagination #prevPage {
  margin-right: 2rem;
}

.pagination #nextPage {
  margin-left: 2rem;
}

.pagination .nav-text {
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
}
