.product-heading {
  margin-top: 12rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--red-600);
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
}
.product-price-container {
  width: 20rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.product-price {
  width: 12rem;
  margin-bottom: 1.2rem;
}

.products-container {
  width: 120rem;
  padding: 1.2rem 2rem;
  margin: 0 auto;
  box-shadow: var(--shadow-3);
  display: flex;
  flex-direction: column;
  margin-bottom: 6.4rem;
  background-color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--zinc-700);
}

.table-line {
  display: grid;
  grid-template-columns: 5.6rem 1fr 25rem 10rem 20rem 20rem;
  height: 25rem;
  border-bottom: 2px solid var(--red-400);
  border-right: 2px solid var(--red-400);
  border-left: 2px solid var(--red-400);
}

.table-line:nth-of-type(1) {
  height: 5.6rem;
  font-weight: 700;
  color: var(--zinc-700);
  font-size: 1.6rem;
  text-transform: uppercase;
  border-top: 2px solid var(--red-400);
}
.table-line:nth-of-type(10) {
  height: 5.6rem;
}
.table-line:last-of-type {
  color: var(--red-700);
  font-weight: 700;
}

.table-line .item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--red-400);
}

.table-line .item:last-of-type {
  border-right: 2px solid var(--red-50);
}

.table-line.last-line {
  grid-template-columns: 1fr 20rem;
}
.table-line .item .choiseBtn {
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  border-radius: 8px;
  position: relative;
  transition: all 0.5s;
  border: 2px solid var(--red-500);
}

.table-line:nth-of-type(1) .item .choiseBtn {
  width: 60%;
  height: 60%;
}

.table-line .item .choiseBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.button-checked::after {
  content: "";
  width: 70%;
  height: 70%;
  border-radius: 6px;
  background-color: var(--red-500);
  position: absolute;
  transform: translate(-50%, -50%);
}

.quantity-field {
  display: flex;
  gap: 1rem;
}

.input-quantity {
  width: 7rem;
  height: 3.2rem;
  border: none;
  border-radius: var(--border-lg);
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--red-700);
  font-weight: 700;
  text-align: center;
  background-color: var(--red-100);
}

.input-quantity:focus {
  outline: none;
  box-shadow: var(--shadow-focus);
}

.input-quantity:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.quantity-btn {
  width: 3rem;
  height: 3rem;
  border: none;
  color: var(--red-50);
  background-color: var(--red-500);
  border-radius: var(--border-rounded);
  font-size: 2.6rem;
  transition: all 0.3s;
}

.quantity-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.quantity-btn:active {
  transform: scale(0.9);
}
.hidden-table-line {
  display: none;
}

.figure-img img {
  object-fit: cover;
  width: 22rem;
  height: 22rem;
}
